body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  margin: 0 0 0.5rem 0;
}

.controls {
  margin-bottom: 0.5rem;
}
@media (max-width: 480px) {
  .controls {
    display: flex;
    flex-direction: column;
  }
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

canvas {
  background-color: oklch(76.47% 0.219 156.55 / 82%);
  margin-bottom: 0.5rem;
}
