body {
  font-family: Futura, Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.controls {
  padding: 1rem 0;
}
@media (max-width: 425px) {
  .controls {
    display: flex;
    flex-direction: column;
  }
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

canvas {
  background-color: oklch(76.47% 0.219 156.55 / 82%);
}
